.searchBox {
  position: relative;
}

.results {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  z-index: 1;
  background-color: rgb(29, 29, 29);
}

.selection {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;

}

.selection:hover {
  cursor: pointer;
  font-weight: 700;
  background: #f3f3f3;
}

.itemProps {
  font-size: smaller;
}

.itemSearched {
  color: red;
}

.itemCoincidentialCharacter {
  color: yellow;
}
