.globalButton {
  background-color: rgba(137, 43, 226, 0.4);
  color: rgb(195, 131, 255);
}

.globalButton:hover {
  background-color: rgba(174, 0, 255, 0.4);
  color: rgb(210, 113, 255);
}

.globalForm {
  margin-top: 1em;
}