.budget-visualizer span {
  background-color: #0000001c;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 0px 5px 0px 0px;
  display: inline-block;
}

.budget-visualizer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.budget-visualizer .budget-bar-container {
  background-color: #dddddd;
  height: 8px;
  margin: 5px 0;
  border-radius: 4px;
}

.budget-visualizer .spendings-progress {
  height: 100%;
  border-radius: 4px;
  transition: max-width 0.4s ease-out, background-color 0.3s ease-out;
}

.budget-visualizer .bold-text {
  font-weight: bold;
}

.budget-visualizer .exceeded-text {
  color: #e71454;
  background-color: rgba(253, 157, 232, 0.459);
}

.budget-visualizer .info-container {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}