.budget-visualizer span {
  font-weight: bold;
  font-size: 0.9em;
  background-color: #0000001c;
  color: #444444;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 0px 5px 0px 0px;
  display: inline-block;
}