.budget-visualizer {
  display: flex;
  flex-direction: column;
}

.budget-bar-container {
  background-color: rgba(29,29,29, 1);
  height: 1em;
  border-radius: 10px;
}

.budget-visualizer .spendings-progress {
  height: 100%;
  border-radius: 10px;
  transition: max-width 0.4s ease-out, background-color 0.3s ease-out;
}

.spend-text, .budget-text {
  font-weight: bold;
  font-size: 0.8em;
}

.spend-amount, .budget-amount {
  font-size: 1.1em;
}

.spend-container, .budget-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.spend-container {
  justify-content: flex-start;
  text-align: left;
}

.budget-container {
  justify-content: flex-end;
  text-align: right;
}

.spend-budget-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.budget-component {
  border: 1px solid rgba(35,35,35, 1);
  border-radius: 20px;
  padding: 1em;
}
.budget-component:hover {
  box-shadow: 0 0 5px rgba(35,35,35, 0.5);
}