:root {
  --base-off-bg: rgb(27, 27, 27);
  --base-on-bg: #84e1f8;
  --base-off-bg-hover: rgb(37, 37, 37);
  --base-on-bg-hover: #6ebfd3;
  --base-width: 45px;
  --base-height: 25px;
  --lever-bg-off: rgb(75, 75, 75);
  --lever-bg-on: rgb(54, 163, 190);
}

.base, .baseOn {
  cursor: pointer;
  display: flex;
  width: var(--base-width);
  height: var(--base-height);
  border-radius: 20px;
  align-items: center;
  transition: background-color 0.2s ease;
  position: relative;
}

.base {
  background-color: var(--base-off-bg);
  border: 2px solid rgba(128, 128, 128, 0.308);
}

.base:hover {
  background-color: var(--base-off-bg-hover);
}

.baseOn {
  background-color: var(--base-on-bg);
}

.baseOn:hover {
  background-color: var(--base-on-bg-hover);
}

.lever {
  position: absolute;
  background-color: var(--lever-bg-off);
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.leverOn {
  left: calc(100% - 21px);
  background-color: var(--lever-bg-on);
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.leverOff {
  left: 3px;
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.toggleSwitch {
  display: flex;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -o-user-select: none; /* Opera */
  user-select: none; /* Estándar */
}