.grid_container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(50px,0.25fr) minmax(50px,0.25fr) minmax(1em, 0.1fr) minmax(1em, 0.1fr);
  transition: all 0.5s ease-out;
}

.grid_container:hover {
  cursor: pointer;
  background-color: aquamarine;

}

.grid_item {
  border: 1px rgba(0, 0, 0, 0.171) solid;
  place-content: center;
  justify-items: center;
}

.itemBrand, .itemDescription {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.534)
}

.itemBrand {
  font-style: italic;
}

.itemName {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.747);
}

.itemInfo {
  border: 1px rgba(0, 0, 0, 0.171) solid;
}

.total {
  grid-column: 1 / -1;
  justify-self: stretch;
  text-align: right;
}

.edit-icon, .delete-icon {
  width: 1.5em;
  
}