/* Usar un modelo de box-sizing más intuitivo */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* Eliminar el margen predeterminado */
  * {
    margin: 0;
  }
  
  body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    /* Agregar una altura de línea accesible */
    line-height: 1.5;
    /* Mejorar el renderizado del texto */
    -webkit-font-smoothing: antialiased;
    background-color: rgb(20, 20, 20);
    max-width: 480px;
    margin: 0 auto;
    color: gray;
    font-size: 0.9em;
  }
  
  /* Mejorar los valores predeterminados de los medios */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* Heredar fuentes para controles de formulario */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* Evitar desbordamiento de texto */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* Mejorar el ajuste de línea */
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /* Crear un contexto de apilamiento raíz */
  #root, #__next {
    isolation: isolate;
  }